{% load cms_tags menu_tags sekizai_tags staticfiles%}

{% include "header.html" %}

{% block banner %}
    {% include "banner.html" %}
{% endblock %}

        <!-- {% cms_toolbar %} -->
        <div class="container">
            {% static_placeholder 'logo' %}
            <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
            {% block content %}{% endblock content %}
            {% static_placeholder 'footer' %}
        </div>
        {% render_block "js" %}
        </div>
    </body>
</html>

